# ======================== Node ======================== 

NODE_ENV="dev"
PORT=3000
HOST="localhost"
APP_NAME="POC"

# ======================== Mongo ======================== 

MONGO_USER="admin"
MONGO_PWD="pass"
MONGO_HOST="localhost"
MONGO_PORT="27019"
MONGO_DB="poc"
MONGO_URI="mongodb://${MONGO_USER}:${MONGO_PWD}@${MONGO_HOST}:${MONGO_PORT}/${MONGO_DB}"

# ======================== JWT ======================== 

JWT_ACCESS_SECRET=""
JWT_ACCESS_EXPIRATION_TIME="15m"
JWT_REFRESH_SECRET=""
JWT_REFRESH_EXPIRATION_TIME="7d"